<table>
    <caption>My User's</caption>
    <thead>
        <tr>
            <th>first name</th>
            <th>second name</th>
            <th>adresses</th>
            <th>Date of birth</th>
            <th>Phone number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.secondName}}</td>
            <td>{{user.adresses}}</td>
            <td>{{user.DateOfBirth | date}}</td>
            <td>{{user.phoneNumber}}</td>
        </tr>
</table>